%h1
  Home
.row
  .columns.large-2
  .columns.large-8
    %ul{:'data-orbit'=>''}
      %li
        = image_tag("image1.png")
        %div{:class=>"orbit-caption"}
      %li
        = image_tag("image2.png")
        %div{:class=>"orbit-caption"}
      %li
        = image_tag("image3.png")
        %div{:class=>"orbit-caption"}
  .columns.large-2