.container
  %ul{:'data-orbit'=>''}
    %li
      = image_tag("image1.png", :class => 'orbit-image-size')
      %div{:class=>"orbit-caption"}
    %li
      = image_tag("image2.png", :class => 'orbit-image-size')
      %div{:class=>"orbit-caption"}
    %li
      = image_tag("image3.png", :class => 'orbit-image-size')
      %div{:class=>"orbit-caption"}
