%h1
  Home
.row
  .columns.large-4
  .columns.large-4
    %ul{:'data-orbit'=>''}
      %li
        = image_tag("image1.png")
        %div{:class=>"orbit-caption"}
      %li
        = image_tag("image2.png")
        %div{:class=>"orbit-caption"}
      %li
        = image_ta  g("image3.png")
        %div{:class=>"orbit-caption"}
  .columns.large-4